<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>953131260976-dktbg0akv4j02cl639eigbcp6gadnls6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953131260976-dktbg0akv4j02cl639eigbcp6gadnls6</string>
	<key>API_KEY</key>
	<string>AIzaSyBArNXm2R4S-FX2Mq3joc4CLW9cuFOAGeA</string>
	<key>GCM_SENDER_ID</key>
	<string>953131260976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demoApp.Demo</string>
	<key>PROJECT_ID</key>
	<string>mytestproject-997a0</string>
	<key>STORAGE_BUCKET</key>
	<string>mytestproject-997a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953131260976:ios:03667fe157ea13fd</string>
	<key>DATABASE_URL</key>
	<string>https://mytestproject-997a0.firebaseio.com</string>
</dict>
</plist>